<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
              <div class="container-fluid px-0">
                <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                  <div class="d-flex align-items-center">
                  </div>
                  <!-- Navbar links -->
                  <ul class="navbar-nav align-items-center">
                    <li class="nav-item ms-lg-3">
                      <a class="nav-link dropdown-toggle pt-1 px-0" href="{{ user.get_absolute_url }}" role="button" aria-expanded="false">
                        <div class="media d-flex align-items-center">
                          <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                            {% if request.user.username %}
                            <span class="mb-0 font-small fw-bold text-gray-900">
                              Current User: <strong>{{ request.user.username }}</strong>
                            </span>
                            {% else %}
                              <span class="mb-0 font-small fw-bold text-gray-900">
                                <a href="{% url 'login' %}">Log in</a>
                              </span>
                            {% endif %}
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>